@tailwind base;
@tailwind components;
@tailwind utilities;

.tasks li::marker {
  color: #fdba74;
}

input:focus {
  outline: none;
}

/* Toast */

.toastify-color-success .Toastify__toast {
  background-color: #186F65;
  color: #F3B664; 
}

.bg-black .Toastify__progress-bar {
  background: #F3B664;
}